.card {
  background-color: #fbc02d ;
  color: grey;
}

.skills {
  color: black;
  background-color: lightgrey;
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
.post-card{
  color: grey;
  background-color: lightgrey;
  margin: 10px;
  text-align: center;
  min-width: 600px;
  min-height: 200px;
  border-radius: 5px;
}

}
@media only screen and (max-width: 767px) {
.post-card{
  color: grey;
  background-color: lightgrey;
  margin: 10px;
  text-align: center;
  min-width: 200px;
  min-height: 200px;
  border-radius: 5px;
}

}

.the-list {
  margin: auto
}

.top-container{
  display: block;
  text-align: center;
  margin: auto;
}

.the-button {
  color: white;
}

.to-center{
  text-align: center;
}

.follow-button-wrapper {
  margin-right: 5px;
  display: inline-block;
}
