.page-wrap{
  min-height: 100%;
  position: relative;
}

.footer-wrapper {
  padding-top: 60px;
}
/*
footer {
  position: absolute;
} */

nav.navbar{
  background-color: #fdd835;
}

footer {
  background-color: #fdd835;
  color:blue;
}

.instruction {
  margin-top: 50px;
  margin-bottom: 20px;
}
