.page-wrap{
  min-height: 100%;
  position: relative;
}

.footer-wrapper {
  padding-top: 60px;
}
/*
footer {
  position: absolute;
} */

nav.navbar{
  background-color: black;
}

footer {
  background-color: black;
  color:blue;
}
